<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <%# <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> %>
    <p id="notice">
        <%= notice %>
    </p>

    <!-- Login Form -->
    <%= form_with url: "/login", method: :post, model: @user do |form| %>
    <%= form.text_field :email, class: "fadeIn second", placeholder: "Email"%>
    <%= form.text_field :password, class: "fadeIn third", placeholder: "Password"%>
    <%= form.submit "Login" %>
    <% end %>


    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>